.navbar-brand-name {
    color: #4A4A4A;
    text-decoration: none;
}

.carousel-item {
    background: black;
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    opacity: 0.35;
}